.container-fluid {
  padding: 3% 5% 5%;
}
.topimage {
  position: absolute;
  left: 0;
  width: 100%;

.offlogo {
  font-family: 'Aguafina Script', cursive;
  color: white;
  font-size: 2.5rem;
}


}
#title {
  background-color: #000080	;
  color: white;
}
/*-------------------------------text----------------------------*/

body {
    font-family: 'Fjalla One', serif;
}

h1, h2, h3, h4, h5, h6 {

font-family: 'Titillium Web', sans-serif;

}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;

}

a {
  color: #8f8f8f;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}

a:hover {
  transform: scale(1.1);
}

p {
  color: #8f8f8f;
  font-family: 'Titillium Web', sans-serif;
  padding: 5%;
}

.big-heading {

  font-family: 'Fjalla One', serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
/*-------------------------------navigation bar----------------------------*/
.navbar {
  padding: 0 0 4.5rem;
    z-index: 1;

}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}


.nav-link {
  font-family: "ubuntu";
  font-size: 1.2rem;
}

.downloadbtn {
  margin: 5% 3% 5% 0;
}
/*-------------------------------button----------------------------*/

button {
  color: #8f8f8f;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.1);
}
/*-------------------------------navigation bar----------------------------*/
#topinfo {
  text-align: left;
  margin: 5px;
}
/*-------------------------------cards----------------------------*/
.card {
  border: none;
  padding: 3% 5% 5%;
  text-align: center;
}

#card1 {
  border: none;
  text-align: right;
}
